{% extends 'services/base.html' %}
{% load static %}

{% block title %}
Dashboard | usbeenance
{% endblock title %}

{% block script %}

<script>
    $(document).ready(function () {

        // copying
        function copyText(text) {
            navigator.clipboard.writeText(text).then(
                function () { alert("Copied!") }, function () { alert("Failed!") }
            );
        }

        $("#copyBitcoin").click(function () {
            copyText("{{ bitcoinAddress }}");
        })

        $("#copyEthereum").click(function () {
            copyText("{{ ethereumAddress }}");
        })

        $("#copyDogecoin").click(function () {
            copyText("{{ dogecoinAddress }}");
        })

        $("#copyLitecoin").click(function () {
            copyText("{{ litecoinAddress }}");
        })


        function showMainOverlay() {
            $('#mainOverlay').fadeIn();
        }

        function hideMainOverlay() {
            $('#mainOverlay').hide();
        }

        function closeAllBoxes() {
            // // close all boxes
            let boxes = $(".coinBox");
            for (let box of boxes) {
                $(box).hide();
            }
            hideMainOverlay();
            // end of close boxes

        }



        let togglers = $(".coinBox > .bi-x");
        for (let toggler of togglers) {
            $(toggler).click(function () {
                closeAllBoxes();
            });
        }
        // end of bi-x


        $("#reportAbuse, #reportAbuse1").click(function () {
            closeAllBoxes();
            showMainOverlay();
            $('#reportAbuseBox').fadeIn();
        })

        $("#showWithdrawForm,#showWithdrawForm1").click(function () {
            closeAllBoxes();
            showMainOverlay();
            $('#withdrawForm').fadeIn();
        })
        $("#closeOverlayByWithdraw").click(function () {
            hideMainOverlay();
            $('#withdrawForm').fadeOut();
        })


        $("#showVerifyForm,#showVerifyForm1").click(function () {
            closeAllBoxes();
            showMainOverlay();
            $('#verifyForm').fadeIn();
        })

        $("#closeOverlayByVerify").click(function () {
            hideMainOverlay();
            $('#verifyForm').fadeOut();
        })

        // Coin Boxes Display handler
        $('#showBitcoin').click(function () {
            closeAllBoxes();
            showMainOverlay();



            $("#fundWithBitcoin").fadeIn();

        });
        $('#depositClick').click(function () {
            closeAllBoxes();
            showMainOverlay();


            $("#fundWithBitcoin").fadeIn();

        });

        $('#showEthereum').click(function () {
            closeAllBoxes();
            showMainOverlay();


            $("#fundWithEthereum").fadeIn();

        });
        $('#showDogecoin').click(function () {
            closeAllBoxes();
            showMainOverlay();


            $("#fundWithDogecoin").fadeIn();


        });
        $('#showLitecoin').click(function () {
            closeAllBoxes();
            showMainOverlay();


            $("#fundWithLitecoin").fadeIn();


        });



        $('#showOverlay').click(function () {

            $('#overlay').fadeIn();
        });


        $('#closeOverlay').click(function () {

            $('#overlay').fadeOut();
        });



    });
</script>

{% endblock script %}

{% block nav %}
{% endblock nav %}


{% block main %}

<!-- Report Abuse  -->
<div id='reportAbuseBox'
     class=" coinBox min-h-screen  hidden bg-gray-200 rounded-lg fixed left-0  right-0 z-30 mx-auto py-5 max-w-md">

    <i onclick="this.parentElement.style.display = 'none'"
       class=' absolute top-0 ring-1 ring-gray-50 right-0 bg-gray-600 hover:bg-gray-700  text-white text-2xl px-3 bi-x'></i>


    <h4 style='font-family: "Work Sans";'
        class='text-center p-2 text-sm  font-bold text-gray-700 uppercase'> Profile </h4>
    <img class='object-cover mx-auto block ring-1 ring-gray-600 rounded-full my-2'
         alt='bitcoin'
         src='{% static "services/profile.jpeg" %}'
         width="150"
         height="150">

    <br>


    <p class='font-bold text-center text-gray-600  p-2 m-0 '> Firstname :
        {{request.user.firstname}} </p>
    <p class='font-bold text-center text-gray-600  p-2 m-0 '> Lastname :
        {{request.user.lastname}} </p>
    <p class='font-bold text-center text-gray-600  p-2 m-0 '> Email Address : {{request.user.email}}
    </p>
    <p class='font-bold text-center text-gray-600  p-2 m-0 '> Total balance (USD) :
        &dollar;{{request.user.wallet.balance}}</p>

    <p class='font-bold text-center text-gray-600  p-2 m-0 '> DOB :
        &dollar;{{request.user.data.dob}}</p>

    <i style="font-family: Inter"
       class='text-center block p-2 text-sm font-light absolute bottom-0 mx-4 '> Please log all your
        complains to <a href='mailto:support@usebeenance.com'
           class='underline text-yellow-600'> support@usbeenance.com</a>. We
        will
        get back to you in due course.
    </i>


</div>


<!-- Main Overlay -->
<div id='mainOverlay'
     class='fixed hidden top-0 left-0 z-20 right-0 bottom-0 bg-gray-700 opacity-70'></div>

<!-- Verify Transfer  -->
<div id='verifyForm'
     class='overflow-y-scroll coinBox  max-w-md bg-gray-200 hidden  fixed left-0 right-0 top-0 bottom-0 z-30 mx-auto md:ring-1 md:ring-gray-700 md:bg-gray-700 p-2 px-10 rounded-xl md:mt-1'>
    <i id='closeOverlayByVerify'
       onclick="this.parentElement.style.display = 'none'"
       class=' absolute top-0 ring-1 ring-gray-50 right-0 bg-gray-600 hover:bg-gray-700  text-white text-2xl px-3 bi-x'></i>


    <form class=''
          method='post'
          action='{%   url "services:verify_deposit_view" %}'>

        {% csrf_token %}

        <legend style='font-family:"Work Sans";'
                class='md:text-left text-center text-2xl md:text-white my-5 block text-gray-700 font-bold mb-12 capitalize select-none'>
            <i class='bi-check2-circle'></i>
            Verify your asset deposit
        </legend>

        <div class='m-2'>
            <label style='font-family:"Work Sans";'
                   class='text-left md:text-white text-2xl font-normal text-gray-700 my-4 block'>
                Asset
            </label>
            <select style='font-family:"Raleway";'
                    required
                    class='pt-3 pr-5 pb-3 pl-5 rounded  block  w-full  outline-none text-lg text-left'
                    name='asset'>
                <option value="Bitcoin"> Bitcoin</option>
                <option value="Ethereum"> Ethereum</option>
                <option value="Dogecoin"> Dogecoin</option>
                <option value="Litecoin"> Litecoin</option>
            </select>
            <span class='text-sm text-red-500'> {{form.coin.errors}} </span>
        </div>


        <div class='m-2'>
            <label style='font-family:"Work Sans";'
                   class='text-left md:text-white text-2xl font-normal text-gray-700 my-4 block'>
                Address
            </label>
            <input style='font-family:"Raleway";'
                   required
                   class='pt-3 pr-5 pb-3 pl-5 rounded  block  w-full  outline-none text-lg text-left'
                   name='address'
                   minlength="24"
                   maxlength="48"
                   type='text' />
            <span class='text-sm text-red-500'> {{form.address.errors}} </span>
        </div>


        <div class='m-2'>
            <label style='font-family:"Work Sans";'
                   class='text-left md:text-white text-2xl font-normal text-gray-700 my-4 block'>
                Date
            </label>
            <input style='font-family:"Raleway";'
                   required
                   class='pt-3 pr-5 pb-3 pl-5 rounded  block  w-full  outline-none text-lg text-left'
                   name='date'
                   type='date' />
            <span class='text-sm text-red-500'> {{form.date.errors}} </span>
        </div>


        <div class='m-2'>
            <label style='font-family:"Work Sans";'
                   class='text-left md:text-white text-2xl font-normal text-gray-700 my-4 block'>
                Time
            </label>
            <input style='font-family:"Raleway";'
                   required
                   class='pt-3 pr-5 pb-3 pl-5 rounded  block  w-full  outline-none text-lg text-left'
                   name='time'
                   type='time' />
            <span class='text-sm text-red-500'> {{form.time.errors}} </span>
        </div>


        <div class='m-2'>
            <label style='font-family:"Work Sans";'
                   class='text-left md:text-white text-2xl font-normal text-gray-700 my-4 block'>
                Amount
            </label>
            <input style='font-family:"Raleway";'
                   required
                   class='pt-3 pr-5 pb-3 pl-5 rounded block w-full  outline-none text-lg text-left'
                   name='amount'
                   type='decimal' />
            <span class='text-sm text-red-700 py-2 inline-block'> {{form.amount.errors}}
            </span>

        </div>

        <div>
            <p style="font-family:Raleway"
               class='toggleForms  text-gray-700 md:text-white pt-5 text-base text-center '>
                Your account will be credited accordingly immediately your claim is confirmed
            </p>
            <br>

        </div>

        <button class='block  mx-auto w-full  hover:bg-green-700 mt-4  my-2 bg-green-700 rounded-lg ring-2 ring-green-900 text-2xl text-white  text-center py-3 px-5 outline-none'
                type='submit'>
            Verify </button>
    </form>
</div>




<!-- Withdraw Form  -->
<div id='withdrawForm'
     class='overflow-y-scroll coinBox  max-w-md bg-gray-200 hidden  fixed left-0 right-0 top-0 bottom-0 z-30 mx-auto md:ring-1 md:ring-gray-700 md:bg-gray-700 p-2 px-10 rounded-xl md:mt-1'>
    <i id='closeOverlayByWithdraw'
       onclick="this.parentElement.style.display = 'none'"
       class=' absolute top-0 ring-1 ring-gray-50 right-0 bg-gray-600 hover:bg-gray-700  text-white text-2xl px-3 bi-x'></i>


    <form class=''
          method='post'
          action='{%   url "services:withdraw_view" %}'>

        {% csrf_token %}

        <legend style='font-family:"Work Sans";'
                class='md:text-left text-center text-2xl md:text-white my-5 block text-gray-700 font-bold mb-12 capitalize select-none'>
            <i class='bi-currency-dollar'></i>
            Request for a withdrawal
        </legend>

        <div class='m-2'>
            <label style='font-family:"Work Sans";'
                   class='text-left md:text-white text-2xl font-normal text-gray-700 my-4 block`'>
                Asset
            </label>
            <select style='font-family:"Raleway";'
                    required
                    class='pt-3 pr-5 pb-3 pl-5 rounded  block  w-full  outline-none text-lg text-left'
                    name='asset'>
                <option value="Bitcoin"> Bitcoin</option>
                <option value="Ethereum"> Ethereum</option>
                <option value="Dogecoin"> Dogecoin</option>
                <option value="Litecoin"> Litecoin</option>
            </select>
            <span class='text-sm text-red-500'> {{form.coin.errors}} </span>
        </div>


        <div class='m-2'>
            <label style='font-family:"Work Sans";'
                   class='text-left md:text-white text-2xl font-normal text-gray-700 my-4 block'>
                Address
            </label>
            <input style='font-family:"Raleway";'
                   required
                   class='pt-3 pr-5 pb-3 pl-5 rounded  block  w-full  outline-none text-lg text-left'
                   name='address'
                   minlength='24'
                   maxlength="48"
                   type='text' />
            <span class='text-sm text-red-500'> {{form.address.errors}} </span>
        </div>


        <!-- <div class='m-2'>
            <label style='font-family:"Work Sans";'
                   class='text-left md:text-white text-2xl font-normal text-gray-700 my-4 block'>
                Date
            </label>
            <input style='font-family:"Raleway";'
                   required
                   class='pt-3 pr-5 pb-3 pl-5 rounded  block  w-full  outline-none text-lg text-left'
                   name='date'
                   type='date' />
            <span class='text-sm text-red-500'> {{form.date.errors}} </span>
        </div>


        <div class='m-2'>
            <label style='font-family:"Work Sans";'
                   class='text-left md:text-white text-2xl font-normal text-gray-700 my-4 block'>
                Time
            </label>
            <input style='font-family:"Raleway";'
                   required
                   class='pt-3 pr-5 pb-3 pl-5 rounded  block  w-full  outline-none text-lg text-left'
                   name='time'
                   type='time' />
            <span class='text-sm text-red-500'> {{form.time.errors}} </span>
        </div> -->


        <div class='m-2'>
            <label style='font-family:"Work Sans";'
                   class='text-left md:text-white text-2xl font-normal text-gray-700 my-4 block'>
                Amount in dollars
            </label>
            <input style='font-family:"Raleway";'
                   required
                   class='pt-3 pr-5 pb-3 pl-5 rounded block w-full  outline-none text-lg text-left'
                   name='amount'
                   type='decimal' />
            <span class='text-sm text-red-700 py-2 inline-block'> {{form.amount.errors}}
            </span>

        </div>

        <div>
            <p style="font-family:Raleway"
               class='toggleForms  text-gray-700 md:text-white pt-5 text-base text-center '>
                Your external wallet will be credited accordingly immediately we process your
                request
            </p>
            <br>

        </div>

        <button class='block  mx-auto w-full  hover:bg-green-700 mt-4  my-2 bg-green-700 rounded-lg ring-2 ring-green-900 text-2xl text-white  text-center py-3 px-5 outline-none'
                type='submit'>
            Proceed </button>
    </form>
</div>
<!-- end of withdrawal  -->

<!-- Display overs for the coins  -->

<!-- Bitcoin  -->

<div id='fundWithBitcoin'
     class=" coinBox  hidden bg-gray-200 rounded-lg fixed left-0  right-0 z-30 mx-auto py-5 max-w-md">

    <i onclick="this.parentElement.style.display = 'none'"
       class=' absolute top-0 ring-1 ring-gray-50 right-0 bg-gray-600 hover:bg-gray-700  text-white text-2xl px-3 bi-x'></i>


    <h4 style='font-family: "Work Sans";'
        class='text-center p-2 text-sm  font-bold text-gray-700 uppercase'> Bitcoin </h4>
    <img class='object-cover mx-auto block ring-1 ring-gray-600 rounded-xl my-2'
         alt='bitcoin'
         src='{% static "services/bitadd.jpeg" %}'
         width="300"
         height="300">

    <p style="font-family: Raleway"
       class='text-center p-2 text-base lowercase'> Scan to fund your wallet with bitcoin or copy
        the address below </p>
    <p style="font-family:roboto"
       class="text-center font-bold p-2 text-lg lowercase bg-gray-900 text-white select-none">
        {{bitcoinAddress}} &nbsp;&nbsp;&nbsp; <button id="copyBitcoin"
                style="font-family:'Work sans';"
                class="inline-block px-2 rounded-xl font-normal  py-1 text-center text-sm text-white hover:bg-gray-600 bg-gray-700"
                style='font-family:Comfortaa'> copy</button> </p>

</div>

<!-- Ethereum  -->

<div id='fundWithEthereum'
     class="coinBox hidden  bg-gray-200 rounded-lg fixed left-0  right-0 z-30 mx-auto py-5 max-w-md">

    <i onclick="this.parentElement.style.display = 'none'"
       class=' absolute top-0 ring-1 ring-gray-50 right-0 bg-gray-600 hover:bg-gray-700  text-white text-2xl px-3 bi-x'></i>


    <h4 style='font-family: "Work Sans";'
        class='text-center p-2 text-sm  font-bold text-gray-700 uppercase'> Ethereum </h4>
    <img class='object-cover mx-auto block ring-1 ring-gray-600 rounded-xl my-2'
         alt='ethereum'
         src='{% static "services/ethadd.jpeg" %}'
         width="300"
         height="300">

    <p style="font-family: Raleway"
       class='text-center p-2 text-base lowercase'> Scan to fund your wallet with ethereum or copy
        the address below </p>
    <p style="font-family:roboto"
       class="text-center font-bold p-2 text-lg lowercase bg-gray-900 text-white select-none">
        {{ethereumAddress}} &nbsp;&nbsp;&nbsp; <button id="copyEthereum"
                style="font-family:'Work sans';"
                class="inline-block px-2 rounded-xl font-normal  py-1 text-center text-sm text-white hover:bg-gray-600 bg-gray-700"
                style='font-family:Comfortaa'> copy</button> </p>

</div>

<!-- Dogecoin  -->

<div id='fundWithDogecoin'
     class=" coinBox hidden bg-gray-200 rounded-lg fixed left-0  right-0 z-30 mx-auto py-5 max-w-md">

    <i onclick="this.parentElement.style.display = 'none'"
       class=' absolute top-0 ring-1 ring-gray-50 right-0 bg-gray-600 hover:bg-gray-700  text-white text-2xl px-3 bi-x'></i>


    <h4 style='font-family: "Work Sans";'
        class='text-center p-2 text-sm  font-bold text-gray-700 uppercase'> Dogecoin </h4>
    <img class='object-cover mx-auto block ring-1 ring-gray-600 rounded-xl my-2'
         alt='bitcoin'
         src='{% static "services/dogeadd.jpeg" %}'
         width="300"
         height="300">

    <p style="font-family: Raleway"
       class='text-center p-2 text-base lowercase'> Scan to fund your wallet with dogecoin or copy
        the address below </p>
    <p style="font-family:roboto"
       class="text-center font-bold p-2 text-lg lowercase bg-gray-900 text-white select-none">
        {{dogecoinAddress}} &nbsp;&nbsp;&nbsp; <button id="copyDogecoin"
                style="font-family:'Work sans';"
                class="inline-block px-2 rounded-xl font-normal  py-1 text-center text-sm text-white hover:bg-gray-600 bg-gray-700"
                style='font-family:Comfortaa'> copy</button> </p>

</div>



<!-- Litecoin  -->


<div id='fundWithLitecoin'
     class=" coinBox hidden bg-gray-200 rounded-lg fixed left-0  right-0 z-30 mx-auto py-5 max-w-md">

    <i onclick="this.parentElement.style.display = 'none'"
       class=' absolute top-0 ring-1 ring-gray-50 right-0 bg-gray-600 hover:bg-gray-700  text-white text-2xl px-3 bi-x'></i>


    <h4 style='font-family: "Work Sans";'
        class='text-center p-2 text-sm  font-bold text-gray-700 uppercase'> Litecoin </h4>
    <img class='object-cover mx-auto block ring-1 ring-gray-600 rounded-xl my-2'
         alt='litecoin'
         src='{% static "services/bitadd.jpeg" %}'
         width="300"
         height="300">

    <p style="font-family: Raleway"
       class='text-center p-2 text-base lowercase'> Scan to fund your wallet with litecoin or copy
        the address below </p>
    <p style="font-family:roboto"
       class="text-center font-bold p-2 text-lg lowercase bg-gray-900 text-white select-none">
        {{litecoinAddress}} &nbsp;&nbsp;&nbsp; <button id="copyLitecoin"
                style="font-family:'Work sans';"
                class="inline-block px-2 rounded-xl font-normal  py-1 text-center text-sm text-white hover:bg-gray-600 bg-gray-700"
                style='font-family:Comfortaa'> copy</button> </p>

</div>
<!-- end of Display overs for the coins  -->








<div class='md:flex md:flex-row md:flex-nowrap md:justify-between'>

    <div class='sticky top-0  z-10 bg-gray-700 md:hidden py-2 flex flex-row justify-between '>
        <i id='showOverlay'
           class='bi-justify-left text-4xl text-gray-100 px-2  flex-shrink flex-grow-0'></i>


        <button id='depositClick'
                style='font-family:comfortaa'
                class='text-sm flex-initial mx-3 flex-shrink flex-grow-0 outline-none bg-gray-500 rounded-2xl font-bold inline-block ring-2 ring-gray-600 text-gray-100 text-center px-2 py-1'>

            Deposit
            <i class='bi-currency-dollar'></i>

        </button>
    </div>
    <div id='overlay'
         class='hidden overflow-y-scroll fixed md:static z-20 top-0 left-0 right-0 bg-gray-700 bottom-0   lg:w-1/5
         md:w-2/5
         flex-grow
         flex-shrink-0
         min-h-full '>



        <img alt='profile'
             src='{% static 'services/profile.jpeg' %}'
             width='150'
             height='150'
             class='rounded-full ring-2 ring-gray-700 border-2 border-solid border-gray-600 shadow-xl min-h-8 mx-auto block my-4' />

        <h2 style='font-family:comfortaa'
            class='text-center mx-auto font-bold text-lg capitalize text-yellow-500'>
            {{request.user.get_full_name}} </h2>
        <br>

        <div>

            <ul class=' px-2 flex flex-col flex-nowrap justify-start content-center space-y-2 '>
                <li style='font-family:raleway'
                    class=' text-left  rounded   text-base text-white font-normal'>
                    <div class='space-y-3'>

                        <div>
                            <i class='bi-currency-dollar text-base text-yellow-700'></i> Balance :
                            &nbsp;&nbsp;
                            <span class='font-bold'>
                                &dollar;{{request.user.wallet.balance_string}}</span>

                        </div>
                        <!-- <div>
                            <i class='bi-currency-bitcoin text-base text-yellow-700'></i> BTC :
                            &nbsp;&nbsp;
                            <span class='font-bold'>
                                &#8383; {{request.user.wallet.btc_balance}}</span>

                        </div> -->





                    </div>

                </li>
                <li style='font-family:raleway'
                    class=' text-left  rounded   text-base text-white font-normal'>
                    <i class='bi-envelope text-base text-yellow-700'></i> Email : &nbsp;&nbsp;
                    <span class='font-bold'>{{request.user.email}}</span>
                </li>

            </ul>

            <!-- <p style='font-family: "Raleway";'
               class='text-sm font-normal bg-gray-900 my-1 text-center mx-auto py-2 pb-4 px-2 text-white '>
                BTC
                Address :
                <span
                      class='bg-gray-800 hover:bg-gray-700 hover:text-yellow-400 hover:font-bold shadow-xl rounded-xl px-2 py-1'>
                    {{request.user.wallet.btc_address}}
                </span>
            </p> -->

            <br>
            <br>



            <ul class='flex flex-col flex-nowrap justify-center content-end space-y-2  bg-gray-700'>
                <li id='reportAbuse'
                    class='block cursor-pointer flex-initial flex-grow flex-shrink-0 text-xl  max-w-sm p-1 py-3 px-4 text-left text-white   hover:text-yellow-600 font-normal capitalize'>
                    <i class='bi-person-lines-fill'></i> Profile
                </li>
                <li
                    class='block flex-initial flex-grow flex-shrink-0 text-xl  max-w-sm p-1 py-3 px-4 text-left text-white   hover:text-yellow-600 font-normal capitalize'>
                    <a href='/dashboard/'><i class='bi bi-currency-bitcoin'></i> Deposit </a>
                </li>
                <li id='showWithdrawForm'
                    class='block cursor-pointer flex-initial flex-grow flex-shrink-0 text-xl  max-w-sm p-1 py-3 px-4 text-left text-white   hover:text-yellow-600 font-normal capitalize'>
                    <i class='bi bi-currency-dollar'></i> Withdraw
                </li>
                <li id='showVerifyForm'
                    class='block cursor-pointer flex-initial flex-grow flex-shrink-0 text-xl  max-w-sm p-1 py-3 px-4 text-left text-white   hover:text-yellow-600 font-normal capitalize'>
                    <i class='bi bi-check2-circle'></i> Verify deposit
                </li>
                <li
                    class='block flex-initial flex-grow flex-shrink-0 text-xl  max-w-sm p-1 py-3 px-4 text-left text-white   hover:text-yellow-600 font-normal capitalize'>
                    <a href='{% url "services:history_view" %}'><i class='bi bi-clock-history'></i>
                        Transaction history </a>
                </li>

            </ul>

            <br>
            <br>
            <br>
            <br>
            <i id='closeOverlay'
               class='  bi-x text-4xl text-center py-3 mx-auto block shadow-lg text-gray-700 bg-gray-300'></i>


        </div>





    </div>


    {% block content %}
    <div class='lg:w-4/5 md:w-3/5 flex-grow flex-shrink-0 bg-gray-300 min-h-screen'>

        <div
             class='flex flex-row flex-nowrap bg-gray-600 p-2 py-3 sticky top-0 z-10  justify-between '>

            <div class='flex-initial  flex-grow-0'>
                <img alt='logo'
                     width='75'
                     height='75'
                     class=''
                     src="{% static 'services/favicon.ico' %}">
                <!-- <span style='font-family:"londrina shadow"'
                      class='hidden md:block text-2xl   text-yellow-400 inline-block  font-bold uppercase
                text-center '>
                    Beenance</span> -->
            </div>

            <div class='flex-initial flex-grow-0 self-center divide-x-4 divide-red-500'>
                <span style='font-family:"Inter"'
                      class='hidden md:block font-bold text-center    text-base px-4 inline-block text-white capitalize'>
                    {{request.user.get_full_name}}&nbsp; <i
                       class='bi-person-circle text-2xl'></i></span> &nbsp;&nbsp;

                <a href='{%  url "services:logout_view" %}'> <i
                       class='bi-power text-red-500 hover:bg-white align-center rounded-full text-2xl md:text-3xl inline-block  md:py-2 md:px-1 '></i>&nbsp;
                    <span class='hidden md:inline'></span>
                </a>

            </div>
        </div>



        <!-- Boxes for coins   -->
        <div id='depositRealm'>

            <img alt='beenance'
                 class='block mb-6'
                 width='100%'
                 height='400px'
                 src="/static/services/beenance.jpeg">
            <p style='font-family:raleway'
               class='text-md font-bold text-center md:text-left text-gray-700 p-4 '> <i
                   class='bi-currency-dollar text-xl p-2 bg-gray-900 text-white rounded-full'></i>
                &nbsp;&nbsp;
                Welcome, {{request.user.firstname}}.
                Fund your wallet now and get a bonus!
            </p>


            <div
                 class='flex py-4 flex-col md:max-w-md lg:max-w-full mx-auto space-y-8 lg:space-y-0 lg:flex-row justify-center lg:justify-around content-center'>

                <div style='height:250px'
                     title='Fund with bitcoin'
                     class='transform relative hover:scale-105  flex-initial w-5/6 mx-auto lg:w-1/5  flex-shrink flex-grow-0 self-strech bg-yellow-400'>
                    <img src='{% static 'services/bitcoin3.png' %}'
                         width='150'
                         height='150'
                         class='object-contain block mx-auto rounded-full my-2 '>

                    <button id="showBitcoin"
                            style='font-family:"work sans";'
                            class='block w-full text-lg hover:bg-gray-600 font-normal text-yellow-300 bg-gray-700 bottom-0 absolute'>
                        Bitcoin <i class='bi-plus text-2xl py-4 inline-block'></i></button>
                </div>
                <div style='height:250px'
                     title='
                           Fund with ethereum'
                     class=' transform hover:scale-105 flex-initial w-5/6 mx-auto lg:w-1/5 flex-shrink flex-grow-0 self-strech bg-yellow-500'>
                    <img src='{% static 'services/eth3.png' %}'
                         width='150'
                         height='150'
                         class='object-contain block mx-auto rounded-full my-2'>
                    <button id="showEthereum"
                            style='font-family:"work sans";'
                            class='block w-full text-lg hover:bg-gray-600 font-normal text-yellow-300 bg-gray-700 bottom-0 absolute'>
                        Ethereum <i class='bi-plus text-2xl py-4 inline-block'></i></button>
                </div>
                <div style='height:250px'
                     title='Fund with dogecoin'
                     class=' transform hover:scale-105 flex-initial w-5/6 mx-auto lg:w-1/5 flex-shrink flex-grow-0 self-strech bg-yellow-600'>
                    <img src='{% static 'services/dogecoin3.png' %}'
                         width='150'
                         height='150'
                         class='object-contain block mx-auto rounded-full my-2'>
                    <button id="showDogecoin"
                            style='font-family:"work sans";'
                            class='block w-full text-lg hover:bg-gray-600 font-normal text-yellow-300 bg-gray-700 bottom-0 absolute'>
                        Dogecoin <i class='bi-plus text-2xl py-4 inline-block'></i></button>
                </div>
                <div style='height:250px'
                     title='Fund with litecoin'
                     class='transform hover:scale-105  flex-initial w-5/6 mx-auto lg:w-1/5 flex-shrink flex-grow-0 self-strech bg-yellow-700'>
                    <img src='{% static 'services/litecoin3.png' %}'
                         width='150'
                         height='150'
                         class='object-contain block mx-auto rounded-full my-2'>
                    <button id="showLitecoin"
                            style='font-family:"work sans";'
                            class='block w-full text-lg hover:bg-gray-600 font-normal text-yellow-300 bg-gray-700 bottom-0 absolute'>
                        Litecoin <i class='bi-plus text-2xl py-4 inline-block'></i></button>
                </div>



            </div>

        </div>

        <hr class='border-4 border-solid border-gray-700 my-8 ' />


        <!-- New chip in  -->

        <div
             class=' md:max-w-full w-11/12 min-h-6 rounded-xl mb-6 shadow mx-auto  p-3 flex  flex-row flex-wrap content-center items-center  justify-evenly bg-gray-100'>


            <a id='reportAbuse1'
               class='transform scale-85 md:scale-100  bg-dark-300  hover:bg-gray-200 my-4 hover:ring-2 hover:ring-yellow-500 hover:scale-105   transform hover:bg-gray-200 my-4 hover:ring-2 hover:ring-yellow-500 hover:scale-105  flex-initial flex-grow-0 flex-shrink-0 w-full md:w-1/3 hover:bg-dark-400 '>
                <img class='
               block
               mx-auto
               rounded-full'
                     src='/static/services/profile.jpeg'
                     alt='deposit'
                     width='100'
                     height='100'>

                <p style='font-family:"work sans"'
                   class='text-center mx-auto text-yellow-600 p-2 py-4 text-lg font-bold capitalize'>
                    Profile </p>
            </a>


            <a class='transform scale-85 md:scale-100    bg-dark-300  hover:bg-gray-200 my-4 hover:ring-2 hover:ring-yellow-500 hover:scale-105   flex-initial flex-grow-0 flex-shrink-0 w-full md:w-1/3  hover:bg-dark-400 '
               href='/dashboard/'>
                <img class='block mx-auto  rounded-full'
                     src='
                     /static/services/wallet.jpeg'
                     alt='deposit'
                     width='100'
                     height='100'>

                <p style='font-family:"work sans"'
                   class='text-center mx-auto text-yellow-600 p-2 py-4 text-lg font-bold capitalize'>
                    wallet </p>
            </a>


            <a class='transform scale-85 md:scale-100    bg-dark-300  hover:bg-gray-200 my-4 hover:ring-2 hover:ring-yellow-500 hover:scale-105   flex-initial flex-grow-0 flex-shrink-0 w-full md:w-1/3 hover:bg-dark-400 '
               href='/dashboard/'>
                <img class='block mx-auto  rounded-full'
                     src='
                     /static/services/deposit.jpeg'
                     alt='deposit'
                     width='100'
                     height='100'>

                <p style='font-family:"work sans"'
                   class='text-center mx-auto text-yellow-600 p-2 py-4 text-lg font-bold capitalize'>
                    Deposit </p>
            </a>




            <a id='showWithdrawForm1'
               class='bg-dark-300 transform scale-85 md:scale-100  hover:bg-gray-200 my-4 hover:ring-2 hover:ring-yellow-500 hover:scale-105    flex-initial flex-grow-0 flex-shrink-0 w-full  md:w-1/3 hover:bg-dark-400 '>
                <img class='block mx-auto  rounded-full'
                     src='/static/services/withdraw.jpeg'
                     alt='deposit'
                     width='100'
                     height='100'>

                <p style='font-family:"work sans"'
                   class='text-center mx-auto text-yellow-600 p-2 py-4 text-lg font-bold capitalize'>
                    Withdraw </p>
            </a>


            <a id='showVerifyForm1'
               class='bg-dark-300 transform scale-85 md:scale-100  hover:bg-gray-200 my-4 hover:ring-2 hover:ring-yellow-500 hover:scale-105   flex-initial flex-grow-0 flex-shrink-0 w-full md:w-1/3  hover:bg-dark-400 '>
                <img class='block mx-auto  rounded-full'
                     src='/static/services/verifydeposit.jpeg'
                     alt='deposit'
                     width='100'
                     height='100'>

                <p style='font-family:"work sans"'
                   class='text-center mx-auto text-yellow-600 p-2 py-4 text-lg font-bold capitalize'>
                    Verify deposit</p>
            </a>


            <a class='transform scale-85 md:scale-100    bg-dark-300  hover:bg-gray-200 my-4 hover:ring-2 hover:ring-yellow-500 hover:scale-105   flex-initial flex-grow-0 flex-shrink-0 w-full md:w-1/3 hover:bg-dark-400 '
               href='/user/history/'>
                <img class='block mx-auto  rounded-full'
                     src='
                                 /static/services/history.jpeg'
                     alt='deposit'
                     width='100'
                     height='100'>

                <p style='font-family:"work sans"'
                   class='text-center mx-auto text-yellow-600 p-2 py-4 text-lg font-bold capitalize'>
                    Transaction history </p>
            </a>




        </div>



        <!-- end of chip in   -->

        <br>
        <br>


        <div class='m-2 mx-6 relative  p-4 text-xl text-center bg-gray-200 rounded-xl shadow-xl'>
            <i
               class="bi-info-circle text-4xl absolute bg-gray-800 text-white rounded-full m-3 top-0 left-0"></i>

            <p style='font-family:"Work sans"'
               class='text-xl    text-gray-800 leading-8 md:leading-10 ml-12 text-left'>


                You are welcome to our crypto center. Click on any available coin you wish to
                deposit
                and
                stand a chance of getting a bonus. You will be provided with the wallet address and
                a QR
                code
                to make your trading experience stress free and secure.
                <br>



                <span class='text-yellow-600'>After transferring the assets, please file a
                    transaction verification request to
                    enable

                    us verify and confirm the authenticity of your transfer. Your account will be
                    credited accordingly
                    immediately the transaction is confirmed.
                </span>

                <br>
                <br>

                <span class='text-green-600'>You can also request for a withdrawal of your assets at
                    anytime, your request will
                    then be processed
                    immediately and your external wallet will be credited accordingly. Please note
                    withdrawal processing can take some
                    time to complete.
                </span>
                <br>
                <br>
                <span class='text-blue-600'> Our systems are constantly monitored for fraudulent
                    activities, this is to ensure a
                    risk-free
                    trading experience with us. You have nothing to worry about, your assets are
                    locked
                    up into an
                    impenetrable cyber vault <i class='bi-lock-fill'></i>

                </span>








            </p>


        </div>



        <div
             class='mt-12 py-8 bg-gray-500 flex-col space-y-8 md:space-y-0 md:flex-row flex justify-around content-center'>

            <div>
                <ul class='flex-col flex justify-center content-center'>
                    <li style='font-family: raleway;'
                        class='text-center text-base hover:underline text-white p-2 capitalize'><a
                           href="">
                            Home</a></li>
                    <li style='font-family: raleway;'
                        class='text-center text-base hover:underline text-white p-2 capitalize'><a
                           href=""> Fund
                            wallet</a></li>
                    <li style='font-family: raleway;'
                        class='text-center text-base hover:underline text-white p-2 capitalize'><a
                           href="">
                            Withdraw</a></li>
                    <li style='font-family: raleway;'
                        class='text-center text-base hover:underline text-white p-2 capitalize'><a
                           href=""> Verify
                            transaction</a></li>
                    <li style='font-family: raleway;'
                        class='text-center text-base hover:underline text-white p-2 capitalize'><a
                           href=""> Report
                            an issue </a></li>
                </ul>
            </div>


            <div>
                <ul class='flex-col flex justify-center content-center'>
                    <li style='font-family: raleway;'
                        class='text-center text-base hover:underline text-white p-2 capitalize'><a
                           href="">
                            About us</a></li>
                    <li style='font-family: raleway;'
                        class='text-center text-base hover:underline text-white p-2 capitalize'><a
                           href="">
                            Contact us</a></li>
                    <li style='font-family: raleway;'
                        class='text-center text-base hover:underline text-white p-2 capitalize'><a
                           href="">
                            Legal</a></li>
                    <li style='font-family: raleway;'
                        class='text-center text-base hover:underline text-white p-2 capitalize'><a
                           href="">
                            Privacy</a></li>
                    <li style='font-family: raleway;'
                        class='text-center text-base hover:underline text-white p-2 capitalize'><a
                           href=""> Terms
                            and conditions </a></li>
                </ul>
            </div>


        </div>

        <div class='pt-8 pb-4 bg-gray-800'>
            <p style="font-family: roboto;"
               class='p-1 py-8  text-center px-4 text-sm text-white font-light'> Your last login
                time was
                {{request.user.last_login}} </p>

            <br>
            <p style="font-family:Work sans;"
               class='p-1 py-2 font-bold text-center px-4 text-xs text-white font-light'>
                &copy; {% now   'Y' %} Beenance </p>
        </div>





    </div>
    {% endblock content %}





</div>

{% endblock main %}


{% block footer %}

{% endblock footer %}