<!DOCTYPE html>
<html lang="en">


   <head>
      <meta charset="UTF-8">
      <meta name="description"
            content="">
      <meta http-equiv="X-UA-Compatible"
            content="IE=edge">
      <meta name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

      <!-- Title -->
      <title> BEENANCE CRYPTO INVESTMENT</title>

      <!-- Favicon -->
      <link rel='icon'
            href='/static/services/favicon.ico'>
      <!-- Plugins CSs -->
      <link href="/static/services/css/plugins/jquery.jConveyorTicker.min.css"
            rel="stylesheet">

      <!-- Core Stylesheet -->
      <link href="/static/services/styles.css"
            rel="stylesheet">

      <!-- Responsive CSS -->
      <link href="/static/services/css/responsive.css"
            rel="stylesheet">

   </head>

   <body>
      <!-- Preloader -->
      <div class="loading-area">
         <div class="loading-box"></div>
         <div class="loading-pic">
            <div class="loader-animation-outer">
               <div class="rotate-center">
                  <div class="scale-up-center">
                     <img src="/static/services/img/core-img/bitcoin.png"
                          alt="">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Preloader -->

      <!-- ***** Header Area Start ***** -->
      <header class="header_area">
         <!-- Main Header Area Start -->
         <div class="main-header-area"
              id="coreNav">
            <div class="container h-100">
               <div class="row h-100">
                  <!-- Menu Area Start -->
                  <div class="col-12 h-100">
                     <div class="menu_area h-100">
                        <nav class="navbar h-100 navbar-expand-lg align-items-center">
                           <!-- Logo -->
                           <a class="navbar-brand"
                              href="#"><img src="/static/services/img/core-img/logo.png"
                                   alt=""></a>
                           <button class="navbar-toggler"
                                   type="button"
                                   data-toggle="collapse"
                                   data-target="#airNav"
                                   aria-controls="airNav"
                                   aria-expanded="false"
                                   aria-label="Toggle navigation"><span
                                    class="navbar-toggler-icon"></span></button>
                           <!-- Menu Area -->
                           <div class="collapse navbar-collapse"
                                id="airNav">
                              <ul class="navbar-nav ml-auto"
                                  id="nav">
                                 <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle"
                                       href="#"
                                       id="navbarDropdown"
                                       role="button"
                                       data-toggle="dropdown"
                                       aria-haspopup="true"
                                       aria-expanded="false">Home</a>
                                    <div class="dropdown-menu"
                                         aria-labelledby="navbarDropdown">
                                       <a class="dropdown-item"
                                          href="/">Home - 1</a>
                                       <a class="dropdown-item"
                                          href="index-2.html">Home - 2</a>
                                       <a class="dropdown-item"
                                          href="index-3.html">Home - 3</a>
                                       <a class="dropdown-item"
                                          href="index-4.html">Home - 4</a>
                                    </div>
                                 </li>
                                 <li class="nav-item"><a class="nav-link"
                                       href="airdrop-listing.html">Airdrop</a></li>
                                 <li class="nav-item"><a class="nav-link"
                                       href="submit.html">Submit Airdrop</a></li>
                                 <li class="nav-item"><a class="nav-link"
                                       href="token-sell.html">Token Sell</a></li>
                                 <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle"
                                       href="#"
                                       id="navbarDropdown3"
                                       role="button"
                                       data-toggle="dropdown"
                                       aria-haspopup="true"
                                       aria-expanded="false">Pages</a>
                                    <div class="dropdown-menu"
                                         aria-labelledby="navbarDropdown3">
                                       <a class="dropdown-item"
                                          href="/faq/">Faq</a>
                                       <a class="dropdown-item"
                                          href="blog.html">Blog</a>
                                       <a class="dropdown-item"
                                          href="blog-details.html">Blog News</a>
                                       <a class="dropdown-item"
                                          href="coming-soon.html">Coming Soon</a>
                                       <a class="dropdown-item"
                                          href="error.html">Error</a>
                                    </div>
                                 </li>
                                 <li class="nav-item"><a class="nav-link"
                                       href="/contact-us/">Conatct</a></li>
                              </ul>
                              <!-- Get a Quote btn -->
                              <a href="/contact-us/"
                                 class="btn airdrop-btn header-btn">Get A Quote</a>
                           </div>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- ***** Header Area End ***** -->

      <!-- ***** Add Area Start ***** -->
      <div class="add-area section_padding_100 bg-img bg-overlay-2 clearfix"
           style="background-image: url(/static/services/img/bg-img/bg-pattern.png)">
         <div class="container">
            <div class="row">
               <div class="col-12">
                  <div class="add-area- text-center">
                     <img src="/static/services/img/bg-img/b-5.gif"
                          alt="">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- ***** Add Area End ***** -->

      <!-- Currency Marquee Area Start -->
      <div class="marque-area">
         <div class="currency-marquee-area js-conveyor-1">
            <ul class="bg-gradient-dark">
               <li>
                  <p><strong>ETH:</strong>&#x20AC; 9,953.72 <span class="groth-up">(+5.33%)</span>
                  </p>
               </li>
               <li>
                  <p><strong>ETH:</strong>&#x20AC; 8,953.72 <span class="groth-down">(+4.33%)</span>
                  </p>
               </li>
               <li>
                  <p><strong>ETH:</strong>&#x20AC; 6,953.72 <span class="groth-up">(+5.33%)</span>
                  </p>
               </li>
               <li>
                  <p><strong>ETH:</strong>&#x20AC; 9,953.72 <span class="groth-down">(+3.33%)</span>
                  </p>
               </li>
               <li>
                  <p><strong>ETH:</strong>&#x20AC; 7,953.72 <span class="groth-down">(+5.33%)</span>
                  </p>
               </li>
               <li>
                  <p><strong>ETH:</strong>&#x20AC; 5,953.72 <span class="groth-up">(+7.33%)</span>
                  </p>
               </li>
               <li>
                  <p><strong>ETH:</strong>&#x20AC; 9,953.72 <span class="groth-down">(+8.33%)</span>
                  </p>
               </li>
               <li>
                  <p><strong>ETH:</strong>&#x20AC; 3,953.72 <span class="groth-up">(+4.33%)</span>
                  </p>
               </li>
               <li>
                  <p><strong>ETH:</strong>&#x20AC; 9,953.72 <span class="groth-down">(+9.33%)</span>
                  </p>
               </li>
               <li>
                  <p><strong>ETH:</strong>&#x20AC; 8,953.72 <span class="groth-up">(+3.33%)</span>
                  </p>
               </li>
               <li>
                  <p><strong>ETH:</strong>&#x20AC; 9,953.72 <span class="groth-down">(+5.33%)</span>
                  </p>
               </li>
               <li>
                  <p><strong>ETH:</strong>&#x20AC; 6,953.72 <span class="groth-up">(+4.33%)</span>
                  </p>
               </li>
               <li>
                  <p><strong>ETH:</strong>&#x20AC; 5,953.72 <span class="groth-up">(+5.33%)</span>
                  </p>
               </li>

            </ul>
         </div>
      </div>

      <!-- ***** FAQ Area Start ***** -->
      <div class="faq-area section_padding_100">
         <div class="container">
            <div class="row">
               <!-- Section Heading -->
               <div class="col-12">
                  <div class="section-heading text-center">
                     <h2>Frequency Asked Questions</h2>
                     <p>You want to buy Bitcoins. Bitcoins are one of many trendy cryptocurrencies
                        sold on the internet today.Excepteur sint occaecat</p>
                  </div>
               </div>
            </div>

            <div class="row">
               <div class="col-12">
                  <div class="faq-area">
                     <div class="accordion"
                          id="accordionExample">
                        <div class="card mb-15">
                           <div class="card-header"
                                id="headingOne">
                              <h2 class="mb-0">
                                 <button class="btn btn-link btn-block text-left"
                                         type="button"
                                         data-toggle="collapse"
                                         data-target="#collapseOne"
                                         aria-expanded="true"
                                         aria-controls="collapseOne">
                                    <span class="faq-title">What is GoalTime?</span>
                                 </button>
                              </h2>
                           </div>

                           <div id="collapseOne"
                                class="collapse show"
                                aria-labelledby="headingOne"
                                data-parent="#accordionExample">
                              <div class="card-body">
                                 <p class="text-dark mb-0">Airdro is a Ethereum BlockChain based
                                    CryptoCurrency which is used to mine GTX tokens for those people
                                    who use GoalTime N Apps. For benefits of users,GTX can be
                                    converted to Bitcoin,Ethereum or other crypto using third party
                                    exchanges.</p>
                              </div>
                           </div>
                        </div>
                        <div class="card mb-15">
                           <div class="card-header"
                                id="headingTwo">
                              <h2 class="mb-0">
                                 <button class="btn btn-link btn-block text-left collapsed"
                                         type="button"
                                         data-toggle="collapse"
                                         data-target="#collapseTwo"
                                         aria-expanded="false"
                                         aria-controls="collapseTwo">
                                    <span class="faq-title">What are the details of gtx
                                       token?</span>
                                 </button>
                              </h2>
                           </div>
                           <div id="collapseTwo"
                                class="collapse"
                                aria-labelledby="headingTwo"
                                data-parent="#accordionExample">
                              <div class="card-body">
                                 <p class="text-dark mb-0">Airdro is a Ethereum BlockChain based
                                    CryptoCurrency which is used to mine GTX tokens for those people
                                    who use GoalTime N Apps. For benefits of users,GTX can be
                                    converted to Bitcoin,Ethereum or other crypto using third party
                                    exchanges.</p>
                              </div>
                           </div>
                        </div>
                        <div class="card mb-15">
                           <div class="card-header"
                                id="headingThree">
                              <h2 class="mb-0">
                                 <button class="btn btn-link btn-block text-left collapsed"
                                         type="button"
                                         data-toggle="collapse"
                                         data-target="#collapseThree"
                                         aria-expanded="false"
                                         aria-controls="collapseThree">
                                    <span class="faq-title">Can i trade gtx on Exchange?</span>
                                 </button>
                              </h2>
                           </div>
                           <div id="collapseThree"
                                class="collapse"
                                aria-labelledby="headingThree"
                                data-parent="#accordionExample">
                              <div class="card-body">
                                 <p class="text-dark mb-0">Airdro is a Ethereum BlockChain based
                                    CryptoCurrency which is used to mine GTX tokens for those people
                                    who use GoalTime N Apps. For benefits of users,GTX can be
                                    converted to Bitcoin,Ethereum or other crypto using third party
                                    exchanges.</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- ***** FAQ Area End ***** -->

      <!-- ***** Footer Area Start ***** -->
      <footer class="main-footer bg-img bg-overlay-2 clearfix"
              style="background-image: url(/static/services/img/bg-img/bg-pattern.png)">
         <!-- Top footer area -->
         <div class="top-footer-area section_padding_100_70">
            <div class="container">
               <div class="row">
                  <!-- Footer Widget Area -->
                  <div class="col-lg-4 col-sm-6 col-12">
                     <div class="footer-detail mb-30">
                        <div class="footer-title">
                           <h5>About Airdrop</h5>
                        </div>
                        <p>Other chains became popular since then. We list hard forks for mostly
                           informative purposes put.</p>
                        <!-- Footer Social -->
                        <div class="footer-social mt-30">
                           <div class="footer-title">
                              <h5>Our socials</h5>
                           </div>
                           <!-- Social List -->
                           <ul class="social-list">
                              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                              <li><a href="#"><i class="fa fa-skype"></i></a></li>
                              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>

                  <!-- Footer Widget Area -->
                  <div class="col-lg col-sm-6 col-12">
                     <div class="footer-detail service-detail mb-30">
                        <div class="footer-title">
                           <h5>our services</h5>
                        </div>
                        <ul class="list">
                           <li><a href="#">Crypto Investments</a></li>
                           <li><a href="#">Customer Insights</a></li>
                           <li><a href="#">Bitcoin Analytics</a></li>
                           <li><a href="#">Bitcoin Exchange</a></li>
                           <li><a href="#">Business Consulting</a></li>
                        </ul>
                     </div>
                  </div>

                  <!-- Footer Widget Area -->
                  <div class="col-lg col-sm-6 col-12">
                     <div class="footer-detail service-detail mb-30">
                        <div class="footer-title">
                           <h5>Slow Link</h5>
                        </div>
                        <ul class="list">
                           <li><a href="#">Contact Us</a></li>
                           <li><a href="#">About Us</a></li>
                           <li><a href="#">Advertising</a></li>
                           <li><a href="#">Legal</a></li>
                           <li><a href="#">FAQ</a></li>
                        </ul>
                     </div>
                  </div>

                  <!-- Footer Widget Area -->
                  <div class="col-lg col-sm-6 col-12">
                     <div class="footer-detail service-detail mb-30">
                        <div class="footer-title">
                           <h5>Donate Us</h5>
                           <p>We need to massive amount money to running this company</p>
                        </div>
                        <div class="donate-method">
                           <a class="mb-2"
                              href="#"><i class="fa fa-yen"></i></a>
                           <a class="mb-2"
                              href="#"><i class="fa fa-euro"></i></a>
                           <a class="mb-2"
                              href="#"><i class="fa fa-dollar"></i></a>
                           <a class="mb-2"
                              href="#"><i class="fa fa-bitcoin"></i></a>
                        </div>
                        <a class="donet-btn"
                           href="#">Donet</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- Bottom Footer Area Start -->
         <div class="bottom-footer-area">
            <div class="copywrite_text text-center">
               <p>Made With <i class="fa fa-heart"></i> by <a href="#">Theme-zome</a></p>
            </div>
         </div>
      </footer>
      <!-- ***** Footer Area End ***** -->

      <!-- ***** All JS ***** -->
      <!-- jQuery-2.2.4 js -->
      <script src="/static/services/js/jquery/jquery-2.2.4.min.js"></script>
      <!-- Popper js -->
      <script src="/static/services/js/bootstrap/popper.min.js"></script>
      <!-- Bootstrap js -->
      <script src="/static/services/js/bootstrap/bootstrap.min.js"></script>
      <!-- All Plugins js -->
      <script src="/static/services/js/plugins/plugins.js"></script>
      <script src="/static/services/js/plugins/jquery.jConveyorTicker.min.js"></script>
      <!-- Active js -->
      <script src="/static/services/js/active.js"></script>

      <script>
         $(function () {
            $('.js-conveyor-1').jConveyorTicker();
         });
      </script>

   </body>


   <!-- Mirrored from demo.riktheme.com/ditan/bitcoin/faq.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 06 Jul 2021 22:15:09 GMT -->

</html>