{% extends 'services/dashboard.html' %}

{% block title %}
History | usbeenance
{% endblock %}


{% block content %}
<div class='lg:w-4/5 md:w-3/5  flex-grow flex-shrink-0 bg-gray-300 min-h-screen'>

   <div
        class="sticky flex flex-row justify-between bg-gray-300 shadow-lg left-0 right-0 top-12 md:top-0 z-10">
      <p style='font-family:"Work Sans";'
         class='text-left text-lg    font-bold text-gray-700 p-4'> <i
            class='bi-clock-history text-xl '></i>
         Transaction
         history </p>



      <a title='Dashboard'
         href='/dashboard/'> <i
            class='bi-house-door hover:bg-gray-700 hover:text-white text-3xl inline-block p-3 text-gray-700'></i></a>
   </div>


   <div
        class='p-5 md:ring-1 m-4 mt-8 md:ring-gray-700 max-w-md md:max-w-6xl min-h-screen rounded mx-auto'>

      <p style='font-family:"Work Sans";'
         class='text-2xl text-left text-gray-700 font-bold p-4 my-2'> <i
            class='bi-currency-bitcoin'></i>Deposits</p>


      <div class='mb-12 overflow-x-scroll max-h-screen  overflow-y-scroll'>
         {% if deposits %}


         <table class='p-2 rounded w-full bg-gray-300 mx-auto overflow-x-scroll'>
            <tr class='p-2 py-6 bg-gray-100 '>
               <th style='font-family:"Work Sans";'
                   class='text-center text-base capitalize px-4 font-bold text-gray-800 py-8 mx-8'>
                  ID
               </th>
               <th style='font-family:"Work Sans";'
                   class='text-center text-base capitalize px-4 font-bold text-gray-800 mx-8'>
                  Asset </th>
               <th style='font-family:"Work Sans";'
                   class='text-center text-base  px-4 font-bold text-gray-800 mx-8'>
                  Address</th>
               <th style='font-family:"Work Sans";'
                   class='text-center text-base capitalize px-4 font-bold text-gray-800 mx-8'>
                  Amount</th>
               <th style='font-family:"Work Sans";'
                   class='text-center text-base capitalize px-4 font-bold text-gray-800 mx-8'>
                  Date </th>
               <th style='font-family:"Work Sans";'
                   class='text-center text-base capitalize px-4 font-bold text-gray-800 mx-8'>
                  Time</th>
               <th style='font-family:"Work Sans";'
                   class='text-center text-base capitalize px-4 font-bold text-gray-800 mx-8'>
                  Status </th>
               <th style='font-family:"Work Sans";'
                   class='text-center text-base capitalize px-4 font-bold text-gray-800 mx-8'>
                  Reference </th>
               <th style='font-family:"Work Sans";'
                   class='text-center text-base capitalize px-4 font-bold text-gray-800 mx-8'>
                  Confirmed </th>
            </tr>

            {% for entry in deposits %}
            <tr class=' bg-gray-200 hover:bg-gray-400 divide-x '>
               <td style='font-family:"Inter";'
                   class='text-center  text-base capitalize px-4 font-bold text-gray-700 py-2 md:py-4 lg:py-6 '>
                  {{entry.id}}</td>
               <td style='font-family:"Inter";'
                   class='text-center  text-base capitalize px-4 font-bold text-gray-700 py-2 md:py-4 lg:py-6 '>
                  {{entry.asset}}</td>
               <td title="{{entry.address}}"
                   style='font-family:"Inter";'
                   class='text-center  text-base  px-4 font-bold text-gray-700 py-2 md:py-4 lg:py-6 '>
                  {{entry.address | truncatechars:12}}</td>
               <td style='font-family:"Inter";'
                   class='text-center  text-base capitalize px-4 font-bold text-gray-700 py-2 md:py-4 lg:py-6 '>
                  {{entry.amount}}</td>
               <td style='font-family:"Inter";'
                   class='text-center  text-base capitalize px-4 font-bold text-gray-700 py-2 md:py-4 lg:py-6 '>
                  {{entry.date}}</td>
               <td style='font-family:"Inter";'
                   class='text-center  text-base capitalize px-4 font-bold text-gray-700 py-2 md:py-4 lg:py-6 '>
                  {{entry.time}}</td>
               <td style='font-family:"Inter";'
                   class='text-center  text-base capitalize px-4 font-bold text-gray-700 py-2 md:py-4 lg:py-6 '>
                  {{entry.status}}</td>
               <td title="{{entry.txref}}"
                   style='font-family:"Inter";'
                   class='text-center  text-base  px-4 font-bold text-gray-700 py-2 md:py-4 lg:py-6 '>
                  {{entry.txref | truncatechars:8 }}</td>
               <td style='font-family:"Inter";'
                   class='text-center  text-base capitalize px-4 font-bold text-gray-700 py-2 md:py-4 lg:py-6 '>
                  {% if entry.has_been_verified %}
                  <i class='bi-check2 text-center text-3xl text-green-600'></i>
                  {% else %}
                  <i class='bi-x  text-center text-3xl text-red-600'></i>
                  {% endif %}
               </td>
            </tr>
            {% endfor %}
         </table>
         {% else %}
         <p style='font-family:"Roboto";'
            class='my-12 text-2xl rounded-lg mx-8 py-8 bg-gray-400 text-white font-normal text-center '>
            <i class='bi-info-circle block text-3xl text-center '></i>
            <br>
            <br>
            There's nothing here
         </p>
         {% endif %}

      </div>

      <p style='font-family:"Work Sans";'
         class='text-2xl text-left text-gray-700 font-bold p-4 my-2'> <i
            class='bi-currency-dollar'></i>
         Withdrawals
      </p>

      <div class='mb-12 overflow-x-scroll max-h-screen overflow-y-scroll'>
         {% if withdrawals %}
         <table class='p-2 rounded w-full bg-gray-300 mx-auto overflow-x-scroll'>
            <tr class='p-2 py-6 bg-gray-100 '>
               <th style='font-family:"Work Sans";'
                   class='text-center text-base capitalize px-4 font-bold text-gray-800 py-8 mx-8'>
                  ID
               </th>
               <th style='font-family:"Work Sans";'
                   class='text-center text-base capitalize px-4 font-bold text-gray-800 py-8 mx-8'>
                  Amount</th>
               <th style='font-family:"Work Sans";'
                   class='text-center text-base capitalize px-4 font-bold text-gray-800 py-8 mx-8'>
                  Exchange </th>
               <th style='font-family:"Work Sans";'
                   class='text-center text-base  px-4 font-bold text-gray-800 py-8 mx-8'>
                  Address</th>
               <th style='font-family:"Work Sans";'
                   class='text-center text-base capitalize px-4 font-bold text-gray-800 py-8 mx-8'>
                  Date </th>
               <th style='font-family:"Work Sans";'
                   class='text-center text-base capitalize px-4 font-bold text-gray-800 py-8 mx-8'>
                  Time</th>
               <th style='font-family:"Work Sans";'
                   class='text-center text-base capitalize px-4 font-bold text-gray-800 py-8 mx-8'>
                  Status </th>
               <th style='font-family:"Work Sans";'
                   class='text-center text-base capitalize px-4 font-bold text-gray-800 py-8 mx-8'>
                  Reference </th>
               <th style='font-family:"Work Sans";'
                   class='text-center text-base capitalize px-4 font-bold text-gray-800 py-8 mx-8'>
                  Settled </th>
            </tr>

            {% for entry in withdrawals %}
            <tr class='bg-gray-200 hover:bg-gray-400 divide-x '>
               <td style='font-family:"Inter";'
                   class='text-center text-base capitalize  px-4 font-bold text-gray-800 py-2 md:py-4 lg:py-6 '>
                  {{entry.id}}</td>
               <td style='font-family:"Inter";'
                   class='text-center text-base capitalize px-4 font-bold text-gray-800 py-2 md:py-4 lg:py-6 '>
                  &dollar;{{entry.amount}}</td>
               <td style='font-family:"Inter";'
                   class='text-center text-base capitalize px-4 font-bold text-gray-800 py-2 md:py-4 lg:py-6 '>
                  {{entry.asset}}</td>
               <td title="{{entry.address}}"
                   style='font-family:"Inter";'
                   class='text-center text-base   px-4 font-bold text-gray-800 py-2 md:py-4 lg:py-6 '>
                  {{entry.address | truncatechars:12}}</td>
               <td style='font-family:"Inter";'
                   class='text-center text-base capitalize px-4 font-bold text-gray-800 py-2 md:py-4 lg:py-6 '>
                  {{entry.date}}</td>
               <td style='font-family:"Inter";'
                   class='text-center text-base capitalize px-4 font-bold text-gray-800 py-2 md:py-4 lg:py-6 '>
                  {{entry.time}}</td>
               <td style='font-family:"Inter";'
                   class='text-center text-base capitalize px-4 font-bold text-gray-800 py-2 md:py-4 lg:py-6 '>
                  {{entry.status}}</td>
               <td title="{{entry.txref}}"
                   style='font-family:"Inter";'
                   class='text-center text-base   px-4 font-bold text-gray-800 py-2 md:py-4 lg:py-6 '>
                  {{entry.txref | truncatechars:8 }}</td>
               <td style='font-family:"Inter";'
                   class='text-center text-base capitalize px-4 font-bold text-gray-800 py-2 md:py-4 lg:py-6 '>
                  {% if entry.has_been_settled %}
                  <i class='bi-check2 text-center text-3xl text-green-600'></i>
                  {% else %}
                  <i class='bi-x  text-center text-3xl text-red-600'></i>
                  {% endif %}
               </td>
            </tr>
            {% endfor %}
         </table>
         {% else %}
         <p style='font-family:"Roboto";'
            class='my-12 text-2xl rounded-lg mx-8 py-8 bg-gray-400 text-white font-normal text-center '>
            <i class='bi-info-circle block text-3xl text-center '></i>
            <br>
            <br>
            There's nothing here
         </p>

         {% endif %}

      </div>





   </div>


   <!-- Footer  -->

   <div class='pt-8 pb-4 bg-gray-800'>
      <p style="font-family: roboto;"
         class='p-1 py-8  text-center px-4 text-sm text-white font-light'> Your last login
         time was
         {{request.user.last_login}} </p>

      <br>
      <p style="font-family:Work sans;"
         class='p-1 py-2 font-bold text-center px-4 text-xs text-white font-light'>
         &copy; {% now   'Y' %} Beenance </p>
   </div>
</div>







{% endblock content %}