<!DOCTYPE html>
<html lang="en">



   <head>
      <meta charset="UTF-8">
      <meta name="description"
            content="">
      <meta http-equiv="X-UA-Compatible"
            content="IE=edge">
      <meta name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

      <!-- Title -->
      <title>BEENANCE CRYPTO INVESTMENT</title>

      <!-- Favicon -->
      <link rel='icon'
            href='/static/services/favicon.ico'>

      <!-- Plugins CSs -->
      <link href="/static/services/css/plugins/jquery.jConveyorTicker.min.css"
            rel="stylesheet">

      <!-- Core Stylesheet -->
      <link href="/static/services/styles.css"
            rel="stylesheet">

      <!-- Responsive CSS -->
      <link href="/static/services/css/responsive.css"
            rel="stylesheet">

   </head>

   <body>
      <!-- Preloader -->
      <div class="loading-area">
         <div class="loading-box"></div>
         <div class="loading-pic">
            <div class="loader-animation-outer">
               <div class="rotate-center">
                  <div class="scale-up-center">
                     <img src="/static/services/img/core-img/bitcoin.png"
                          alt="">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Preloader -->

      <!-- ***** Header Area Start ***** -->
      <header class="header_area">
         <!-- Main Header Area Start -->
         <div class="main-header-area"
              id="coreNav">
            <div class="container h-100">
               <div class="row h-100">
                  <!-- Menu Area Start -->
                  <div class="col-12 h-100">
                     <div class="menu_area h-100">
                        <nav class="navbar h-100 navbar-expand-lg align-items-center">
                           <!-- Logo -->
                           <a class="navbar-brand"
                              href="#"><img src="/static/services/img/core-img/logo.png"
                                   alt=""></a>
                           <button class="navbar-toggler"
                                   type="button"
                                   data-toggle="collapse"
                                   data-target="#airNav"
                                   aria-controls="airNav"
                                   aria-expanded="false"
                                   aria-label="Toggle navigation"><span
                                    class="navbar-toggler-icon"></span></button>
                           <!-- Menu Area -->
                           <div class="collapse navbar-collapse"
                                id="airNav">
                              <ul class="navbar-nav ml-auto"
                                  id="nav">
                                 <li>
                                    <a class="nav-link "
                                       href="/"
                                       id="navbarDropdown"
                                       role="button">Home</a>

                                 </li>


                                 </li>
                                 <li class="nav-item"><a class="nav-link"
                                       href="#abt">About</a></li>
                                 <li class="nav-item"><a class="nav-link"
                                       href="#why">Why Us</a></li>
                                 <li class="nav-item"><a class="nav-link"
                                       href="/contact-us/">Contact</a></li>
                              </ul>

                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- ***** Header Area End ***** -->

      <!-- ***** Wellcome Area Start *****  -->
      <section class="welcome_slides_area clearfix"
               id="home">
         <div class="hero-single-slide bg-img bg-overlay"
              style="background-image:url(/static/services/img/bg-img/earth.gif);">
            <div class="container h-100">
               <div class="row h-100 align-items-center">
                  <div class="col-md-6">
                     <!-- Welcome Content -->
                     <div class="wellcome_heading_text"
                          data-animation="fadeInUp"
                          data-duration="500ms">
                        <h2>BEENANCE - Top your Crypto investment</h2>
                        <h5>Transform your business with our powerful crypto services solution.
                           Hold up to 50% of your revenue.</h5>
                        <!-- Welcome Btn Group -->
                        <div class="welcome-btn-group d-block">
                           <a class="btn airdrop-btn mr-3 mt-30"
                              href="/user/new/">Signup</a>
                           <a class="btn airdrop-btn mt-30"
                              href="/authenticate-user/">Login</a>
                        </div>
                     </div>
                  </div>

                  <div class="col-md-6">
                     <div class="thumb-area">
                        <img src="/static/services/img/bg-img/chart-bg.png"
                             class="chart__bg"
                             alt="chart-bg.png">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- ***** Wellcome Area End ***** -->

      <!-- Currency Marquee Area Start -->
      <div class="marque-area">


         <script type="text/javascript"
                 src="https://files.coinmarketcap.com/static/widget/coinMarquee.js"></script>
         <div id="coinmarketcap-widget-marquee"
              coins="1,1027,825,2010,52,74,5068,4687"
              currency="USD"
              theme="dark"
              transparent="true"
              show-symbol-logo="true"></div>


      </div>

      <!-- ***** About Bitcoin Area Start ***** -->
      <section class="about_bitcoin_area section_padding_100_50 clearfix">
         <div class="container">
            <div class="row d-lg-flex align-items-center justify-content-center">
               <div class="col-12 col-md-6">
                  <div class="about_bitcoin_text">
                     <!--  About Text -->
                     <div class="bitcoin_heading_text mb-50"
                          id="abt">
                        <h2>About Us?</h2>
                        <p>Among the numerous websites providing Bitcoin exchange services, the
                           positive reputation of BEENANCE makes it worth the trust of the users all
                           over the world. With the customer base of over 1,000,000, the platform
                           can be recognized as the one that can be relied on. Starting your Bitcoin
                           trading on a platform with substantial history, you will benefit from a
                           deep understanding of the market and customers’ needs. We are constantly
                           working on enhancing the security, ensuring the high level of customer
                           support, and providing our users with new opportunities for trading on
                           the Bitcoin market.</p>
                        <a class="btn airdrop-btn"
                           href="#">Login</a>
                     </div>
                  </div>
               </div>

               <div class="col-12 col-md-6">
                  <!-- About Image -->
                  <div class="about_bitcoin_image text-center mb-50">
                     <img src="/static/services/img/bg-img/coin.png"
                          alt="">
                  </div>
               </div>

            </div>
         </div>
      </section>
      <!-- ***** About Bitcoin Area End ***** -->

      <!-- ***** Add Area Start ***** -->
      <div class="add-area section_padding_0_100">
         <div class="container">
            <div class="row">
               <div class="col-12">
                  <div class="add-area- text-center wow fadeInUp"
                       data-wow-delay="0.4s">
                     <img src="/static/services/img/bg-img/b-5.gif"
                          alt="">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- ***** Add Area End ***** -->

      <!-- ***** It Is Safe Area Start ***** -->
      <section class="it_is_safe_area section_padding_100_70 bg-img bg-overlay clearfix"
               style="background-image: url(/static/services/img/bg-img/bg-pattern.png)">
         <div class="container">
            <div class="row">
               <!-- Section Heading -->
               <div class="col-12">
                  <div class="section-heading text-center">
                     <h2 id="why">Why us?</h2>
                     <p>You want to buy Bitcoins. Bitcoins are one of many trendy cryptocurrencies
                        sold on the internet today.Excepteur sint occaecat</p>
                  </div>
               </div>
            </div>
            <div class="row justify-content-center">
               <!-- Single Content Area -->
               <div class="col-12 col-sm-6 col-lg-3">
                  <div class="it_is_safe_content text-center red-cu">
                     <!-- icon -->
                     <div class="it_is_safe_icon">
                        <i class="pe-7s-rocket"></i>
                     </div>
                     <h5>Reasonable trading fees for takers and makers, special conditions for high
                        volume traders, strong offers for market makers</h5>
                  </div>
               </div>
               <!-- Single Content Area -->
               <div class="col-12 col-sm-6 col-lg-3">
                  <div class="it_is_safe_content red-ora text-center">
                     <!-- icon -->
                     <div class="it_is_safe_icon">
                        <i class="pe-7s-upload"></i>
                     </div>
                     <h5>Trading via website, mobile app, WebSocket and REST API. FIX API for
                        institutional traders</h5>
                  </div>
               </div>
               <!-- Single Content Area -->
               <div class="col-12 col-sm-6 col-lg-3">
                  <div class="it_is_safe_content red-green text-center">
                     <!-- icon -->
                     <div class="it_is_safe_icon">
                        <i class="pe-7s-science"></i>
                     </div>
                     <h5>Registration in UK, MSB status in FinCEN, essential licenses and strong
                        relations with banks</h5>
                  </div>
               </div>

               <!-- Single Content Area -->
               <div class="col-12 col-sm-6 col-lg-3">
                  <div class="it_is_safe_content red-blue text-center">
                     <!-- icon -->
                     <div class="it_is_safe_icon">
                        <i class="pe-7s-wallet"></i>
                     </div>
                     <h5>
                        1:2 and 1:3 leverages, automatic funds borrowing, no extra accounts needed,
                        negative balance protection</h5>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- ***** It is Safe Area End***** -->

      <!-- TradingView Widget BEGIN -->
      <!-- TradingView Widget BEGIN -->
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
         <div class="tradingview-widget-container__widget"></div>
         <!-- <div class="tradingview-widget-copyright"><a
               href="https://www.tradingview.com/markets/indices/"
               rel="noopener"
               target="_blank"><span class="blue-text">Indices</span></a> by TradingView</div> -->
         <script type="text/javascript"
                 src="https://s3.tradingview.com/external-embedding/embed-widget-market-quotes.js"
                 async>
                  {
                     "width": "100%",
                        "height": "100%",
                           "symbolsGroups": [
                              {
                                 "name": "Indices",
                                 "originalName": "Indices",
                                 "symbols": [
                                    {
                                       "name": "COINBASE:BTCUSD",
                                       "displayName": "BTC"
                                    },
                                    {
                                       "name": "BITFINEX:DOGEUSD"
                                    },
                                    {
                                       "name": "BINANCE:XRPUSDT"
                                    },
                                    {
                                       "name": "BINANCE:ADAUSDT"
                                    },
                                    {
                                       "name": "BINANCE:CAKEUSDT"
                                    },
                                    {
                                       "name": "BINANCE:PUNDIXUSDT"
                                    },
                                    {
                                       "name": "BINANCE:DOTUSD"
                                    },
                                    {
                                       "name": "BINANCE:PSGBTC"
                                    },
                                    {
                                       "name": "BINANCE:GRTBTC"
                                    },
                                    {
                                       "name": "HUOBI:O3USDT"
                                    },
                                    {
                                       "name": "COINBASE:LTCUSD"
                                    },
                                    {
                                       "name": "COINBASE:ICPUSD"
                                    }
                                 ]
                              }
                           ],
                              "showSymbolLogo": true,
                                 "colorTheme": "dark",
                                    "isTransparent": true,
                                       "locale": "en"
                  }
               </script>
      </div>
      <!-- TradingView Widget END -->
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
         <div id="tradingview_2534c"></div>
         <!-- <div class="tradingview-widget-copyright"><a
               href="https://www.tradingview.com/symbols/BTCUSDT/?exchange=BITBAY"
               rel="noopener"
               target="_blank"><span class="blue-text">BTCUSDT Chart</span></a> by TradingView</div> -->
         <script type="text/javascript"
                 src="https://s3.tradingview.com/tv.js"></script>
         <script type="text/javascript">
            new TradingView.widget(
               {
                  "autosize": true,
                  "symbol": "BITBAY:BTCUSDT",
                  "interval": "D",
                  "timezone": "Etc/UTC",
                  "theme": "dark",
                  "style": "1",
                  "locale": "en",
                  "toolbar_bg": "#f1f3f6",
                  "enable_publishing": false,
                  "save_image": false,
                  "details": true,
                  "container_id": "tradingview_2534c"
               }
            );
         </script>
      </div>
      <!-- TradingView Widget END -->
      <!-- TradingView Widget END -->
      <!-- TradingView Widget END -->
      <!-- TradingView Widget END -->
      <!-- TradingView Widget END -->

      <!-- ***** Cool Facts Area Start ***** -->
      <section class="cool_facts_area section_padding_100_50 bg-overlay-2 clearfix jarallax"
               style="background-image:url(/static/services/img/bg-img/cool-fa-1.html);">
         <div class="container">
            <div class="row">
               <div class="col-12 col-sm-6 col-lg-3">
                  <!-- Single Cool Fact-->
                  <div class="single_cool_fact text-center">
                     <div class="cool_fact_icon">
                        <img src="/static/services/img/core-img/cool-1.png"
                             alt="">
                     </div>
                     <!-- Single Cool Detail-->
                     <div class="cool_fact_detail">
                        <h3><span class="counter">30</span>+</h3>
                        <h5>Supported Countries</h5>
                     </div>
                  </div>
               </div>

               <div class="col-12 col-sm-6 col-lg-3">
                  <!-- Single Cool Fact-->
                  <div class="single_cool_fact text-center">
                     <div class="cool_fact_icon">
                        <img src="/static/services/img/core-img/cool-2.png"
                             alt="">
                     </div>
                     <!-- Single Cool Detail-->
                     <div class="cool_fact_detail">
                        <h3><span class="counter">50</span>+</h3>
                        <h5>Operators</h5>
                     </div>
                  </div>
               </div>

               <div class="col-12 col-sm-6 col-lg-3">
                  <!-- Single Cool Fact-->
                  <div class="single_cool_fact text-center">
                     <div class="cool_fact_icon">
                        <img src="/static/services/img/core-img/cool-3.png"
                             alt="">
                     </div>
                     <!-- Single Cool Detail-->
                     <div class="cool_fact_detail">
                        <h3><span class="counter">1260</span>+</h3>
                        <h5>BitCoin Investors</h5>
                     </div>
                  </div>
               </div>

               <div class="col-12 col-sm-6 col-lg-3">
                  <!-- Single Cool Fact-->
                  <div class="single_cool_fact text-center">
                     <div class="cool_fact_icon">
                        <img src="/static/services/img/core-img/cool-4.png"
                             alt="">
                     </div>
                     <!-- Single Cool Detail-->
                     <div class="cool_fact_detail">
                        <h3><span class="counter">$</span>50,000000</h3>
                        <h5>Profits</h5>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- ***** Cool Facts Area End ***** -->



      <!-- ***** Toke Distribution Start ***** -->
      <div class="token-distribution-area section_padding_100_50 bg-img bg-overlay clearfix"
           style="background-image: url(/static/services/img/bg-img/bg-pattern.png)">
         <div class="container">
            <div class="row">
               <!-- Section Heading -->
               <div class="col-12">
                  <div class="section-heading text-center">
                     <h2>Professional Analysis</h2>
                     <p>Your investment with us is properly analyzed with powerful blockchain
                        resources which help determine strong sell time and buy time this helps
                        secure and increases your revenue</p>
                  </div>
               </div>
            </div>

            <div class="row align-items-center">
               <!-- TradingView Widget BEGIN -->
               <div class="tradingview-widget-container">
                  <div class="tradingview-widget-container__widget"></div>
                  <!-- <div class="tradingview-widget-copyright"><a
                        href="https://www.tradingview.com/symbols/BTCUSD/technicals/"
                        rel="noopener"
                        target="_blank"><span class="blue-text">Technical Analysis for
                           BTCUSD</span></a> by TradingView</div> -->
                  <script type="text/javascript"
                          src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js"
                          async>
                           {
                              "interval": "1m",
                                 "width": "100%",
                                    "isTransparent": true,
                                       "height": "450",
                                          "symbol": "COINBASE:BTCUSD",
                                             "showIntervalTabs": true,
                                                "locale": "en",
                                                   "colorTheme": "dark"
                           }
                        </script>
               </div>
               <!-- TradingView Widget END -->
            </div>
         </div>
      </div>

      <!-- ***** Toke Distribution End ***** -->

      <!-- ***** Our Expert Team Area Start ***** -->
      <section class="our_advisor_area section_padding_100">
         <div class="container">
            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container">
               <div class="tradingview-widget-container__widget"></div>
               <!-- <div class="tradingview-widget-copyright"><a
                     href="https://www.tradingview.com/markets/cryptocurrencies/prices-all/"
                     rel="noopener"
                     target="_blank"><span class="blue-text">Cryptocurrency Markets</span></a> by
                  TradingView</div> -->
               <script type="text/javascript"
                       src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js"
                       async>
                        {
                           "width": "100%",
                              "height": "100%",
                                 "defaultColumn": "overview",
                                    "screener_type": "crypto_mkt",
                                       "displayCurrency": "USD",
                                          "colorTheme": "dark",
                                             "locale": "en",
                                                "isTransparent": true
                        }
                     </script>
            </div>
            <!-- TradingView Widget END -->
         </div>
      </section>
      <!-- ***** Our Expert Team Area End ***** -->

      <!-- ***** Partner Area Start ***** -->
      <div class="partner_area bg-img bg-overlay clearfix"
           style="background-image: url(/static/services/img/bg-img/bg-pattern.png)">
         <div class="container">
            <div class="row">
               <!-- Section Heading -->
               <div class="col-12">
                  <div class="section-heading text-center">
                     <h2>Affiliated Company</h2>
                     <p>You want to buy Bitcoins. Bitcoins are one of many trendy cryptocurrencies
                        sold on the internet today.</p>
                  </div>
               </div>
            </div>

            <div class="row">
               <div class="col-12">
                  <div class="clients-logo-slider owl-carousel">
                     <div class="client-logo">
                        <a href="#"><img src="/static/services/img/partner-img/compnay-logo-1.jpg"
                                alt="client-logo"></a>
                     </div>
                     <div class="client-logo">
                        <a href="#"><img src="/static/services/img/partner-img/compnay-logo-2.jpg"
                                alt="client-logo"></a>
                     </div>
                     <div class="client-logo">
                        <a href="#"><img src="/static/services/img/partner-img/compnay-logo-3.jpg"
                                alt="client-logo"></a>
                     </div>
                     <div class="client-logo">
                        <a href="#"><img src="/static/services/img/partner-img/compnay-logo-4.jpg"
                                alt="client-logo"></a>
                     </div>
                     <div class="client-logo">
                        <a href="#"><img src="/static/services/img/partner-img/compnay-logo-5.jpg"
                                alt="client-logo"></a>
                     </div>
                     <div class="client-logo">
                        <a href="#"><img src="/static/services/img/partner-img/compnay-logo-6.jpg"
                                alt="client-logo"></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- ***** Partner Area End ***** -->


      <!-- ***** Footer Area Start ***** -->
      <footer class="main-footer bg-img bg-overlay-2 clearfix"
              style="background-image: url(/static/services/img/bg-img/bg-pattern.png)">
         <!-- Top footer area -->
         <div class="top-footer-area section_padding_100_70">
            <div class="container">
               <div class="row">
                  <!-- Footer Widget Area -->
                  <div class="col-lg-4 col-sm-6 col-12">
                     <div class="footer-detail mb-30">
                        <div class="footer-title">
                           <h5>BEENANCE</h5>
                        </div>
                        <p>Generate profit from crypto investment securely.</p>

                     </div>
                  </div>

                  <!-- Footer Widget Area -->


                  <!-- Footer Widget Area -->

                  <!-- Footer Widget Area -->
                  <div class="col-lg col-sm-6 col-12">
                     <div class="footer-detail service-detail mb-30">
                        <div class="footer-title">
                           <h5>Donate Us</h5>
                           <p>We need to massive amount money to running this company</p>
                        </div>
                        <div class="donate-method">
                           <a class="mb-2"
                              href="#"><i class="fa fa-yen"></i></a>
                           <a class="mb-2"
                              href="#"><i class="fa fa-euro"></i></a>
                           <a class="mb-2"
                              href="#"><i class="fa fa-dollar"></i></a>
                           <a class="mb-2"
                              href="#"><i class="fa fa-bitcoin"></i></a>
                        </div>
                        <a class="donet-btn"
                           href="#">Donet</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- Bottom Footer Area Start -->
         <div class="bottom-footer-area">
            <div class="copywrite_text text-center">
               <p>Copyright<i>(c)</i> 2021</p>
            </div>
         </div>
      </footer>
      <!-- ***** Footer Area End ***** -->

      <!-- ***** All JS ***** -->

      <!-- jQuery-2.2.4 js -->
      <script src="/static/services/js/jquery/jquery-2.2.4.min.js"></script>
      <!-- Popper js -->
      <script src="/static/services/js/bootstrap/popper.min.js"></script>
      <!-- Bootstrap js -->
      <script src="/static/services/js/bootstrap/bootstrap.min.js"></script>
      <!-- All Plugins js -->
      <script src="/static/services/js/plugins/plugins.js"></script>
      <script src="/static/services/js/plugins/jquery.jConveyorTicker.min.js"></script>
      <!-- Active js -->
      <script src="/static/services/js/active.js"></script>

      <script>
         $(function () {
            $('.js-conveyor-1').jConveyorTicker();
         });
      </script>

   </body>


   <!-- Mirrored from demo.riktheme.com/ditan/bitcoin// by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 06 Jul 2021 22:15:04 GMT -->

</html>